@font-face {
    font-family: 'social_media_circledregular';
    src: url('https://anthonytrtre.github.io/fonts/socialmediacircled-webfont.woff2') format('woff2'),
         url('https://anthonytrtre.github.io/fonts/socialmediacircled-webfont.woff?raw=true') format('woff'),
         url('https://anthonytrtre.github.io/fonts/Social%20Media%20Circled.otf?raw=true') format('opentype');
    font-weight: normal;
    font-style: normal;

}
